{% load static %}
<header x-data="{ mobilenavOpen: false }"
        class="md:flex items-center justify-between [&>*]:px-8 bg-gray-800 h-20 text-white sticky top-0 z-40">
    <div class="flex items-center justify-between h-20">
        <logo>
            <a class="flex items-center gap-1" href="/">
                <img class="w-7 -mt-1" src="{% static 'logo_artscontext-round.png' %}"/>
                <span class="text-lg">Art's Context</span>
            </a>
        </logo>
        <mobileicon class="md:hidden">
            <a @click="mobilenavOpen = !mobilenavOpen"
               class="h-12 w-12 flex items-center justify-center cursor-pointer hover:bg-gray-700 rounded-lg">
                <img x-show="!mobilenavOpen" class="w-6 h-6 select-none"
                     src="https://img.icons8.com/small/64/ffffff/menu.png"/>
                <img x-show="mobilenavOpen" x-cloak class="w-6 h-6 select-none"
                     src="https://img.icons8.com/small/64/ffffff/delete-sign.png"/>
            </a>
        </mobileicon>
    </div>
    <nav x-show="mobilenavOpen" x-cloak
         class="md:!block bg-gray-800 h-screen w-screen md:h-auto md:w-auto -mt-20 md:mt-0 absolute md:relative z-[-1]"
         x-transition:enter="duration-300 ease-out"
         x-transition:enter-start="opacity-0 -translate-y-96"
         x-transition:enter-end="opacity-100 translate-y-0">
        <ul class="flex items-center navitems flex-col md:flex-row gap-8 md:gap-0 justify-center h-full -translate-y-10 md:translate-y-0">
            <li><a href="{% url 'home' %}">Новости</a></li>
            <li><a href="{% url 'paintings' %}">Обзоры картин</a></li>
            <li><a href="{% url 'contacts' %}">Наши контакты</a></li>
        </ul>
    </nav>
</header>