<article class="card bg-white shadow-lg rounded-lg mb-6">
    <div class="p-4 pb-1">
        <h3 class="text-lg font-semibold mb-2">{{ news.title }}</h3>
        <!-- Swiper -->
        <div class="swiper-container mb-2">
            <div class="swiper-wrapper">
                {% for image in news.image_fields %}
                <div class="swiper-slide">
                    <div class="image-container">
                        <a href="{% url 'post-page' news.slug %}"><img src="{{ image.url }}" alt="photo"
                                                                       class="image rounded-lg"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <p class="text-md text-gray-600 mb-4">{{ news.description }}</p>
        {% if news.tags.exists %}
        <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
            {% for tag in news.tags.all %}
            <a href="{% url 'tag-page' tag.slug %}"
               class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</article>
