{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши контакты</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'logo_arstcontext.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% include 'includes/head.html' %}
</head>
<body class="bg-gray-100 text-gray-800">
{% include 'includes/header.html' %}

{% load static %}
<section class="bg-white p-6 md:mt-20 mt-8 mx-auto max-w-4xl rounded-lg shadow-lg">
    <div class="flex items-center mb-6">
        <h2 class="text-xl font-semibold align-center">Наши социальные сети:</h2>
    </div>
    <ul class="flex flex-col gap-4">
        <li class="flex items-center p-4 hover:bg-blue-50 rounded-lg">
            <img class="w-16 h-16 rounded-lg object-cover mr-4" src="{% static 'telegram_logo.svg' %}"
                 alt="Telegram Logo">
            <a href="https://t.me/artscontext" class="font-bold text-lg hover:text-blue-700">
                Узнавайте о новостях быстрее в нашем Telegram-канале
            </a>
        </li>
        <li class="flex items-center p-4 hover:bg-red-50 rounded-lg">
            <img class="w-16 h-16 rounded-lg object-cover mr-4" src="{% static 'instagram_logo.png' %}"
                 alt="Instagram Logo">
            <a href="https://www.instagram.com/artscontext/" class="font-bold text-lg hover:text-red-700">
                Смотрите наши reels в Instagram*
            </a>
        </li>
        <li class="flex items-center p-4 hover:bg-yellow-50 rounded-lg">
            <img class="w-16 h-16 rounded-lg object-cover mr-4" src="{% static 'podcast_logo.png' %}"
                 alt="Podcast Logo">
            <a href="https://music.yandex.ru/album/24375942?dir=desc&activeTab=about"
               class="font-bold text-lg hover:text-yellow-700">
                Слушайте наши подкасты в Яндекс музыке
            </a>
        </li>
    </ul>
    <p class="text-xs mt-6 text-gray-600">Meta Platforms Inc. признана экстремистской организацией на территории РФ</p>
</section>
</body>
</html>
