<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Обзоры картин</title>
    <meta name="description" content="Обзоры картин">
    {% include 'includes/head.html' %}
</head>

<body class="bg-gray-100">

{% include 'includes/header.html' %}
{% include 'includes/hero.html' %}

<content x-data="{ mobileSidebarOpen: false }" class="max-w-7xl mx-auto my-6 px-6">
    <main class="col-span-full order-2 md:order-1">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-5 px-2 md:px-12">
            {% for painting in paintings %}
            <article class="card">
                <div class="flex items-center justify-between px-4 h-14">
                    <h3 class="text-start leading-5 mr-2">{{ painting.title }}</h3>
                    <div class="text-sm text-end text-gray-400"><a href="" class="hover:underline ml-1"
                                                                   target="blank">{{painting.artist}}</a></div>
                </div>
                <figure class="h-96 overflow-hidden">
                    <a href="{% url 'painting-detail' painting.slug %}">
                        <img class="w-full h-full object-cover" src="{{ painting.image.url }}">
                    </a>
                </figure>
            </article>
            {% endfor %}
        </div>

        <div class="text-center mt-2">
            {% if paintings.has_next %}
            <button id="load-more" class="bg-gray-800 bg-opacity-80 hover:bg-gray-800 text-white px-6 py-3 text-lg rounded w-72">
                Загрузить еще
            </button>
            {% endif %}
        </div>
    </main>
</content>

<script>
    let page = 1;

    document.getElementById('load-more')?.addEventListener('click', function() {
        page++;

        fetch(`?page=${page}`)
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(data, 'text/html');
                const newPaintings = doc.querySelectorAll('.card');

                newPaintings.forEach(painting => {
                    document.querySelector('main .grid').appendChild(painting);
                });

                const loadMoreButton = doc.querySelector('#load-more');
                if (!loadMoreButton) {
                    document.getElementById('load-more').style.display = 'none';
                }
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>

</body>
</html>