<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body class="bg-gray-100">

{% include 'includes/header.html' %}

{% include 'includes/hero.html' %}

<content x-data="{ mobileSidebarOpen: false }" class="max-w-7xl mx-auto my-6 px-6">
    <main class="col-span-full order-2 md:order-1">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-5 px-2 md:px-12">
            {% for painting in paintings %}
            <article class="card">
                <div class="flex items-center justify-between px-4 h-14">
                    <h3 class="text-start leading-5 mr-2">{{ painting.title }}</h3>
                    <div class="text-sm text-end text-gray-400"><a href="" class="hover:underline ml-1"
                                                                   target="blank">{{painting.artist}}</a></div>
                </div>
                <figure class="h-96 overflow-hidden">
                    <a href="">
                        <img class="w-full h-full object-cover" src="{{ painting.image.url }}">
                    </a>
                </figure>
            </article>
            {% endfor %}
        </div>
    </main>
</content>

</body>
</html>
